@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica-Font/Helvetica.ttf");
}

Label {
    -fx-font-family: Helvetica;
    -fx-font-size: 9pt;
}

#main {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}

Button {
    -fx-font-weight: bold;
}

#secondHeading {
    -fx-font-size: 10.5pt;
    -fx-font-weight: bold;
}

#error {
    -fx-background-color: #ffcccc;
    -fx-border-color: #ff4d4d;
    -fx-padding: 12 12 12 12;
}