@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica-Font/Helvetica.ttf");
}
Label{
    -fx-font-family: Helvetica;
    -fx-font-size: 9pt;
}
#main{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}